body {
	font: 400 15px/1.8 Lato, sans-serif;
	text-align: center;
	float:center;
}

h1{
      margin: 10px 0 30px 0;    
      font-size: 30px;
      color: #111;
      margin-top: 20px;
}

ul {

	list-style: none;
}

.fieldWrapper {
	margin-top: 45px;
}
.tinyybutton {
	margin-top: 10px;
}